/* * {
    margin: 0;
    padding: 0;
} */

body{
    font-family: "Roboto",sans-serif;
}

.second-card {
    height: auto;
}

p, strong {
    text-align: center;
}

.btn-save{
    display: block;
    width: 80px;
    margin-left: auto; 
    margin-right: auto;
}
/*INICIO HEADER*/

.nav{
    height: 106px;
    width: 100%;
    top: 24px;
    display: flex;
    justify-content:center;
}

.nav-list{
    display: flex;
    /*align-items: center;*/
    list-style: none;
    
}

.nav-list p{
    padding-left: 25px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;

    text-decoration: none;
    color: #000000;
    padding: 20px;
    
}

.nav-list a img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 8px;
}

.arrow{
    /*position: absolute;*/
    width: 38.94px;
    height: 31px;
    padding-top: 30px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.boy{
    /*position: absolute;*/
    width: 73px;
    height: 73px;
    
    padding-top: 30px;
    padding-right: 5%;
}
.plataforma{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;

    display: flex;
    align-items: center;
    text-align: center;
}
/*FIN HEADER*/

/*PANTALLA JUEGO*/
.pantalla-juego{
    height: 180px;
    display: block;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;

    background: #D9D9D9;
}
/*FIN PANTALLA JUEGO*/

/*BOTÓN COMPARTIR*/
.btn-compartir{
    /* font-family: 'Lexend'; */
    /* font-style: normal; */
    /* font-weight: 400; */
    /* font-size: 15px; */
    /* line-height: 19px; */

    width: 114px;
    height: 31px;

    background: #7BD5FB;
    border-radius: 5px;

    text-decoration: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 12px;
}

.btn-reportar {
    width: 114px;
    height: 31px;

    background: red;
    border-radius: 5px;

    text-decoration: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 12px;
}
/*FIN BOTÓN COMPARTIR*/

/*LOGROS*/
.titulo-logro{
    
    /* font-family: 'Lexend'; */
    /* font-style: normal; */
    /* font-weight: 700; */
    /* font-size: 30px; */
    line-height: 38px;
    /* padding-left: 22px; */
    /* padding-top: 6px; */
}
.logro-list{
    
    
    display: flex;
    align-items: center;
    list-style: none;

    /*position: absolute;
    top: 50.21%;
    left: 0%;
    right: 0%;*/
    padding-top: 26px;

    display: flex;
    justify-content: space-around;
    text-align: center;
    
    
}

.logro-list .nombre-logro{
    font-size: 15px;
}

.logro-list .info-logro{
    font-size: 12.5px;
    
}

.logro-list, .img-logro, .img-calificar{
    max-width: 70px;
    max-height: 70px;
    border-radius: 8px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
/*FIN LOGROS*/

/*CALIFICAR*/
.calificar-list{    
    display: flex;
    align-items: center;
    list-style: none;

    padding-top: 54px;

    display: flex;
    justify-content: space-around;
    text-align: center;
}
.calificar-list .img-calificar{
    max-width: 64px;
    max-height: 64px;
    
}
.calificar-list2{    
    display: flex;
    align-items: center;
    list-style: none;

    padding-top: 7px;
    
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.btn-calificar{
    width: 94px;
    height: 19px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*FIN CALIFICAR*/

/*FAVORITOS*/
.img-favorito{
    /* width: 64.41px; */
    height: 55.71px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2px;
}

.btn-favorito{

    display: block;
    width: 147.94px;
    height: 19.15px;

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    margin-left: auto;
    margin-right: auto;
}
/*FIN FAVORITOS*/

/*REGRESAR*/
.btn-regresar{
    
    display: block;
    margin-top: 20px;
    margin-left: 160px;

    width: 109px;
    height: 24px;
    
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    margin-left: auto;
    margin-right: auto;   
    text-decoration: none;
}
/*FIN REGRESAR*/

.link-compartir {
    color: #41ADFC;
}