.btn-regresar{
    
    display: block;
    margin-top: 20px;
    margin-left: 160px;

    width: 109px;
    height: 24px;
    
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    margin-left: auto;
    margin-right: auto;   
    text-decoration: none;
}

.second-card {
    height: 100vh;
}

.texto-noticia {
    padding-top: 5px;
    padding-bottom: 5px;
}